
div {
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-name: defil;
}

@keyframes defil {
 from {
    margin-left: 0;
  }
  to {
    margin-left: 140%;
  }
}

@-moz-keyframes defil {
 from { margin-left: 0; }
  to { margin-left: 110%; }
}
@-webkit-keyframes defil {
 from { margin-left: 0; }
  to { margin-left: 110%; }
}
@-o-keyframes defil {
 from { margin-left: 0; }
  to { margin-left: 110%; }
}


.lookatme {
    background-color: darkorange;
    height: 50px;
    width: 90px;
}

