
div {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: defil;
}

@keyframes defil {
    

  from {
    margin-left: 0;
  }

  to {
    margin-left: 100%;
  }
}

.lookatme {
    background-color: blueviolet;
    height: 30px;
    width: 20px;
}

